{% load static %}
<footer class="footer">
    <div class="grid">
        <div class="row">
            <div class="column xxl-12">
                <div class="footer__shopInfoContainer">
                    <div class="row">
                        <!-- Copy các cột thông tin công ty, chính sách, kết nối, thanh toán từ homePage.html -->
                        <!-- ... -->
                    </div>
                </div>
                <div class="footer__ending">
                    <span class="footer__ending-text1">
                        Công Ty Cổ Phần Đầu Tư Phát Triển Công Nghệ Robo
                    </span>
                    <span class="footer__ending-text2">
                        © Copyright/ 2000-2020 Công Ty Cổ Phần Đầu Tư Phát Triển Công Nghệ Robo / GPĐKKD số 0301982582 do Sở KHĐT TP.HCM cấp ngày 28.04.2000
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>
<div onclick="scrollToTop()" class="scrollToTopButton" id="scrollToTopButton">
    <i class="fa-solid fa-up-long scrollToTopButton__icon"></i>
</div>
<div class="messengerContact">
    <i class="fa-brands fa-facebook-messenger messengerContact__icon"></i>
</div>
<div class="emailContact">
    <i class="fa-solid fa-envelope emailContact__icon"></i>
</div>