{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robo Technology</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/grid.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    {% include "header.html" %}

    <!-- content (body) -->
    <div class="content">
        <div class="grid">
            <div class="row">
                <div class="column xxl-12">
                    <div class="content__banner">
                        <div class="row">
                            <div class="column xxl-7 md-12 sm-12 xsm-12">
                                <div class="content__leftBanner">
                                    <img src="assets/img/banner/banner01.jpg" alt="" class="content__leftBanner">
                                </div>
                            </div>
                            <div class="column xxl-5 hideOnMd hideOnSm hideOnXsm">
                                <div class="content__rightBanner">
                                    <img src="assets/img/banner/banner02.png" alt="" class="content__rightBanner-up">
                                    <img src="assets/img/banner/banner03.png" alt="" class="content__rightBanner-down">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column xxl-12">
                    <div class="content__seviceContainer">
                        <div class="row">
                            <div class="column xxl-3 md-6 sm-6 xsm-6">
                                <div class="content__service-transportMethod">
                                    <i class="fa-solid fa-truck-fast service-transportMethod__img"></i>
                                    <span class="service-transportMethod__text">
                                        Phương thức giao hàng
                                    </span>
                                </div>
                            </div>
                            <div class="column xxl-3 md-6 sm-6 xsm-6">
                                <div class="content__service-paymentMethod">
                                    <i class="fa-solid fa-credit-card service-paymentMethod__img"></i>
                                    <span class="service-paymentMethod__text">
                                        Thanh toán an toàn,<br>100% được đảm bảo
                                    </span>
                                </div>
                            </div>
                            <div class="column xxl-3 md-6 sm-6 xsm-6">
                                <div class="content__service-customerIntroduce">
                                    <i class="fa-solid fa-gift service-customerIntroduce__img"></i>
                                    <span class="service-customerIntroduce__text">
                                        Giới thiệu khách hàng<br>nhận quà liền tay
                                    </span>
                                </div>
                            </div>
                            <div class="column xxl-3 md-6 sm-6 xsm-6">
                                <div class="content__service-customerSupport">
                                    <i class="fa-solid fa-message service-customerSupport__img"></i>
                                    <span class="service-customerIntroduce__text">
                                        Hỗ trợ 24/7<br>Nhân viên nhiệt tình
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column xxl-12">
                    <div class="content__banner2">
                        <div class="row">
                            <div class="column xxl-3">
                                <img src="assets/img/banner/banner04.jpg" alt="" class="content__banner2-left hideOnSm hideOnXsm">
                            </div>
                            <div class="column xxl-6 sm-12 xsm-12">
                                <img src="assets/img/banner/banner06.jpg" alt="" class="content__banner2-middle">
                            </div>
                            <div class="column xxl-3">
                                <img src="assets/img/banner/banner05.jpg" alt="" class="content__banner2-right hideOnSm hideOnXsm">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column xxl-12">
                    <div class="content__navBar">
                        <!-- categories container -->
                    </div>
                </div>
            </div>
            <div class="content__bestSellerConainer">
                <div class="content__bestSellerHeadingContainer">
                    <span class="content__bestSellerHeading-mark"></span>
                    <span class="content__bestSellerHeading">
                        Sản phẩm bán chạy
                    </span>
                </div>
                <div class="row">
                    <div class="column xxl-12">
                        <div class="content__bestSeller">
                            <div class="row">
                                {% for product in sale_products %}
                                <div class="column xxl-2-4 md-4 sm-6 xsm-6">
                                    <div class="content__saleProduct-item content__saleProduct-item{{ for.counter }}">
                                        <img src="" alt="" class="saleProduct-item__img">
                                        <span class="saleProduct-item__name">
                                            {{ product.TenSP }}
                                        </span>
                                        <span class="saleProduct-item__price">
                                            {{ product.Gia }}
                                        </span>
                                        <!-- Thêm vào mỗi sản phẩm trong homePage.html hoặc Timkiem.html -->
                                        <form action="{% url 'them_vao_gio' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="product_MaSp" value="{{ product.MaSp }}">
                                            <button type="submit" class="add-to-cart-btn">Thêm vào giỏ hàng</button>
                                        </form>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content__saleProductConainer">
                <div class="content__saleProductHeadingContainer">
                    <span class="content__saleProductHeading-mark"></span>
                    <span class="content__saleProductHeading">
                        Sản phẩm khuyến mãi
                    </span>
                </div>
                <div class="row">
                    <div class="column xxl-12">
                        <div class="content__saleProduct">
                            <div class="row">
                                <!-- sale product container -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
    <div onclick="scrollToTop()" class="scrollToTopButton" id="scrollToTopButton">
        <i class="fa-solid fa-up-long scrollToTopButton__icon"></i>
    </div>
    <div class="messengerContact">
        <i class="fa-brands fa-facebook-messenger messengerContact__icon"></i>
    </div>
    <div class="emailContact">
        <i class="fa-solid fa-envelope emailContact__icon"></i>
    </div>
    <script src="main.js"></script>
    <div onclick="signUpForm()" class="signUpFormOverLay" id="signUpFormOverLay">
    </div>
    <div class="signUpForm" id="signUpForm">
        <i onclick="signUpForm()" class="fa-solid fa-circle-xmark signUpForm__signUpCancelIcon"></i>
        <h2 class="signUpForm__heading">
            Đăng ký 
        </h2>
        <div class="signUpForm__body">
            <div class="signUpForm__body-userFirstName">
                <span class="userFirstName__inputText">
                    Họ 
                </span>
                <input type="text" class="userFirstName__input">
            </div>
            <div class="signUpForm__body-userLastName">
                <span class="userLastName__inputText">
                    Tên 
                </span>
                <input type="text" class="userLastName__input">
            </div>
            <div class="signUpForm__body-phonenumberAndPassword">
                <input type="text" class="phonenumber__input" placeholder="Nhập số điện thoại">
                <input type="text" class="password__input" placeholder="Nhập mật khẩu">
            </div>
            <div class="signUpForm__body-continue">
                Tiếp tục 
            </div>
        </div>
        <div class="signUpForm__footer">
            <span class="signUpForm__footer-heading">
                Hoặc 
            </span>
            <div class="signUpForm__footer-facebookAndGoogleSignUp">
                <div class="signUpForm__footer-facebookSignUp">
                    <span class="facebookSignUp__text">
                        Facebook
                    </span>
                    <i class="fa-brands fa-square-facebook facebookSignUp__icon"></i>
                </div>
                <div class="signUpForm__footer-googleSignUp">
                    <span class="googleSignUp__text">
                        Google
                    </span>
                    <i class="fa-brands fa-google googleSignUp__icon"></i>
                </div>
            </div>
            <div class="signUpForm__footer-haveAccount">
                <span class="haveAccount__text">
                    Bạn đã có tài khoản?
                </span>
                <span class="haveAccount__logIn">
                    Đăng nhập
                </span>
            </div>
        </div>
    </div>
    <div onclick="logInForm()" class="logInFormOverLay" id="logInFormOverLay">
    </div>
    <div class="logInForm" id="logInForm">
        <i onclick="logInForm()" class="fa-solid fa-circle-xmark logInForm__logInCancelIcon"></i>
        <h2 class="logInForm__heading">
            Đăng nhập 
        </h2>
        <div class="logInForm__body">
            <div class="logInForm__body-phonenumberAndPassword">
                <input type="text" class="phonenumber__input" placeholder="Nhập số điện thoại">
                <input type="text" class="password__input" placeholder="Nhập mật khẩu">
            </div>
            <div class="logInForm__body-continue">
                Tiếp tục 
            </div>
            <span class="logInForm__body-forgotPassword">
                Quên mật khẩu? 
            </span>
        </div>
        <div class="logInForm__footer"> 
            <span class="logInForm__footer-heading">
                Hoặc 
            </span>
            <div class="logInForm__footer-facebookAndGoogleLogIn">
                <div class="logInForm__footer-facebookLogIn">
                    <span class="facebookLogIn__text">
                        Facebook
                    </span>
                    <i class="fa-brands fa-square-facebook facebookLogIn__icon"></i>
                </div>
                <div class="logInForm__footer-googleLogIn">
                    <span class="googleLogIn__text">
                        Google
                    </span>
                    <i class="fa-brands fa-google googleLogIn__icon"></i>
                </div>
            </div>
            <div class="logInForm__footer-haveAccount">
                <span class="haveAccount__text">
                    Bạn chưa có tài khoản?
                </span>
                <span class="haveAccount__logIn">
                    Đăng ký
                </span>
            </div>
        </div>
    </div>
</body>
</html>
