{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robo Technology</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/grid.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
   <div class="header">
        <div class="header__part1">
            <a href="homePage.html" class="header__homePage-link">
                <img src="assets/img/logo/logo.webp" alt="" class="header__logo">
            </a>
            <form action="{% url 'timkiem' %}" method="get" class="header__searchContainer">
                <input type="text" name="q" class="searchContainer__input" placeholder="Nhập sản phẩm cần tìm">
                <button type="submit" class="searchContainer__searchButton">
                    <i class="fa-solid fa-magnifying-glass searchContainer__searchIcon"></i>
                </button>
            </form>
            <div class="header__phoneNumber hideOnLg hideOnMd hideOnSm hideOnXsm">
                <div class="phoneNumber__hotline header__phoneNumber--separate">
                    <span class="phoneNumber__hotline-text">
                        Hotline
                    </span>
                    <span class="phoneNumber__hotlineNumber">
                        1900 9006
                    </span>
                </div>
                <div class="phoneNumber__purchase header__phoneNumber--separate">
                    <span class="phoneNumber__purchase-text">
                        Mua hàng
                    </span>
                    <span class="phoneNumber__purchaseNumber">
                        0916 304 838
                    </span>
                </div>
                <div class="phoneNumber__technicalSupport">
                    <span class="phoneNumber__technicalSupport-text">
                        Hỗ trợ kỹ thuật
                    </span>
                    <span class="phoneNumber__technicalSupportNumber">
                        0915 921 926
                    </span>
                </div>
            </div>
           <div class="header__user">
                <i class="fa-solid fa-user header__userIcon"></i>
                <div class="header__user-DropDownMenu">
                    <span class="user__DropDownMenu-Arrow"></span>
                    {% if request.session.user_id %}
                        <div class="user__DropDownMenu-Account">
                            <a href="{% url 'thongtintaikhoan' %}" class="DropDownMenu-Account__text">
                                Tài khoản
                            </a>
                        </div>
                        <div class="user__DropDownMenu-LogOut">
                            <a href="{% url 'dangxuat' %}" class="DropDownMenu-Account__text">
                                Đăng xuất
                            </a>
                        </div>
                    {% else %}
                        <div class="user__DropDownMenu-Account">
                            <a href="{% url 'dangky' %}" class="DropDownMenu-Account__text">
                                Đăng ký 
                            </a>
                        </div>
                        <div class="user__DropDownMenu-LogOut">
                            <a href="{% url 'dangnhap' %}" class="DropDownMenu-Account__text">
                                Đăng nhập 
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <a href="{% url 'giohang' %}" class="header_shoppingCart">
                <i class="fa-solid fa-cart-shopping header__shoppingCartIcon"></i>
            </a>
        </div>
        <div class="header__part2">

            <!--header for desktop-->
            <div class="header__category hideOnMd hideOnSm hideOnXsm"> 
                <i class="fa-solid fa-bars header__categoryIcon"></i>
                <span class="header__categoryText">
                    Danh mục
                </span>
                <div class="header__categoryList">
                    {% for muc in danhMuc %}
                    <a href="{% url 'timkiem' %}?category_id={{ muc.MaDM }}" class="categoryList__categoryItem categoryList__item{{ forloop.counter }}">
                        {{ muc.TenDM }}
                    </a>
                    {% endfor %}
                </div>
            </div>

            <!--header for mobile-->
            <div class="header__categoryForBelowLarge showOnMd showOnSm showOnXsm">
                <div class="header__categoryForBelowLarge-heading">
                    <i class="fa-solid fa-bars header__categoryForBelowLarge-icon"></i>
                    <span class="header__categoryForBelowLarge-heading">
                        Danh mục
                    </span>
                </div>
                <div class="header__categoryForBelowLarge-list">
                    {% for muc in danhMuc %}
                    <a href="{% url 'timkiem' %}?category_id={{ muc.MaDM }}"  class="categoryForBelowLarge__item categoryForBelowLarge__item{{ forloop.counter }}">
                        {{ muc.TenDM }}
                    </a>
                    {% endfor %}
                </div>
            </div>

            <!--header for all devices-->
            <div class="header__navBar  hideOnMd hideOnSm hideOnXsm">
                <a href="{% url 'tintuc' %}" class="header__navBar-item header__navBar-news">
                    Tin tức
                </a>
                <a href="{% url 'gioithieu' %}" class="header__navBar-item header__navBar-introduction">
                    Giới thiệu
                </a>
                <a href="{% url 'hoadon' %}" class="header__navBar-item header__navBar-onlineBill">
                    HĐ điện tử
                </a>
                <span class="header__navBar-item header__navBar-warranty">
                    Tiếp nhận BH
                </span>
                <a href="{% url 'tuyendung' %}" class="header__navBar-item header__navBar-recruitment">
                    Tuyển dụng
                </a>
            </div>

            <!--header for all devices for mobile-->
            <div class="header__navBarForBelowLarge-container showOnMd showOnSm showOnXsm">
                <div class="header__navBarForBelowLarge">
                    <div class="header__navBarForBelowLarge-item header__navBarForBelowLarge-item3">
                        <a href="{% url 'tintuc' %}" class="navBarForBelowLarge-item-text">
                            Tin tức                        
                        </a>
                    </div>
                    <div class="header__navBarForBelowLarge-item header__navBarForBelowLarge-item4">
                        <a href="{% url 'gioithieu' %}" class="navBarForBelowLarge-item-text">
                            Giới thiệu                       
                        </a>
                    </div>
                    <div class="header__navBarForBelowLarge-item header__navBarForBelowLarge-item5">
                        <a href="{% url 'hoadon' %}" class="navBarForBelowLarge-item-text">
                            HĐ điện tử                        
                        </a>
                    </div>
                    <div class="header__navBarForBelowLarge-item header__navBarForBelowLarge-item6">
                            Tiếp nhận BH                       
                    </div>
                    <div class="header__navBarForBelowLarge-item header__navBarForBelowLarge-item7">
                        <a href="{% url 'tuyendung' %}" class="navBarForBelowLarge-item-text">
                            Tuyển dụng                        
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="content content-onlineBillPage">
        <div class="grid">
            <div class="content__currentPageDisplay">
                <a href="{% url 'homePage' %}" class="content__currentPageDisplay-f1">
                    Trang chủ
                </a>
                <i class="fa-solid fa-greater-than content__currentPageDisplay-rightArrowIcon"></i>
                <span class="content__currentPageDisplay-f2">
                    Hóa đơn điện tử 
                </span>
            </div>
            <div class="content-onlineBillPage__billSearching">
                <span class="content-onlineBillPage__billSearching-before">
                    Tra cứu hóa đơn điện tử phát hành sau ngày 11/08/2020: <span style="color: #187bcd; cursor: pointer;">http://0105987432hd.easyinvoice.vn</span>
                </span>
                <span class="content-onlineBillPage__billSearching-after">
                    Tra cứu hóa đơn điện tử phát hành trước ngày 11/08/2020: <span style="color: #187bcd; cursor: pointer;">https://portaltool-miennam.vnpt-invoice.com.vn</span>
                </span>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="grid">
            <div class="row">
                <div class="column xxl-12">
                    <div class="footer__shopInfoContainer">
                        <div class="row">
                            <div class="column xxl-3 md-4 sm-6 xsm-6">
                                <div class="footer__shopInfo">
                                    <div class="footer__shopInfo-item">
                                        <div class="shopInfo-item__icon-container">
                                            <i class="fa-solid fa-building shopInfo-item__icon"></i>
                                        </div>
                                        <span class="shopInfo-item__name">
                                            Công ty cổ phần đầu tư phát triển công nghệ Robo
                                        </span>
                                    </div>
                                    <div class="footer__shopInfo-item">
                                        <div class="shopInfo-item__icon-container">
                                            <i class="fa-solid fa-location-dot shopInfo-item__icon"></i>
                                        </div>
                                        <span class="shopInfo-item__name">
                                            159 Cách Mạng Tháng Tám, Phường 05, Quận 3, TP. HCM, VN
                                        </span>
                                    </div>
                                    <div class="footer__shopInfo-item">
                                        <div class="shopInfo-item__icon-container">
                                            <i class="fa-solid fa-phone shopInfo-item__icon"></i>
                                        </div>
                                        <span class="shopInfo-item__name">
                                            1900 9006
                                        </span>
                                    </div>
                                    <div class="footer__shopInfo-item">
                                        <div class="shopInfo-item__icon-container">
                                            <i class="fa-solid fa-envelope shopInfo-item__icon"></i>
                                        </div>
                                        <span class="shopInfo-item__name">
                                            kinhdoanh@robo.vn
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="column xxl-3 md-4 sm-6 xsm-6">
                                <div class="footer__shopInfo">
                                    <div class="footer__shopInfo-item2">
                                        <span class="shopInfo-item2__heading">
                                            Chính sách công ty
                                        </span>
                                        <span class="shopInfo-item2-item shopInfo-item2-item1">
                                            Điều khoản dịch vụ
                                        </span>
                                        <span class="shopInfo-item2-item shopInfo-item2-item2">
                                            Chính sách đổi/ trả - hoàn tiền
                                        </span>
                                        <span class="shopInfo-item2-item shopInfo-item2-item3">
                                            Chính sách bảo mật
                                        </span>
                                        <span class="shopInfo-item2-item shopInfo-item2-item4">
                                            Phương thức thanh toán
                                        </span>
                                        <span class="shopInfo-item2-item shopInfo-item2-item5">
                                            Phương thức giao hàng
                                        </span>
                                        <span class="shopInfo-item2-item shopInfo-item2-item6">
                                            Chính sách bảo hành
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="column xxl-3 md-4 sm-0 xsm-0">
                                <div class="footer__shopInfo">
                                    <div class="footer__shopInfo-item3">
                                        <span class="shopInfo-item3__heading">
                                            Kết nối với chúng tôi
                                        </span>
                                        <span class="shopInfo-item3-item">
                                            <i class="fa-brands fa-facebook shopInfo-item3-item-icon"></i>
                                            <span class="shopInfo-item3-item-text">
                                                Facebook
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="column xxl-3 md-12 sm-12 xsm-12"> 
                                <div class="footer__shopInfo">
                                    <div class="footer__shopInfo-item4">
                                        <span class="shopInfo-item4__heading">
                                            Hỗ trợ thanh toán
                                        </span>
                                        <div class="footer__shopInfo-item4-item">
                                            <img src="assets/img/icon/payMethod_icon.webp" alt="" class="shopInfo-item4-item-img">
                                            <img src="assets/img/icon/boCongThuongAprove.webp" alt="" class="shopInfo-item4-item-img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer__ending">
                        <span class="footer__ending-text1">
                            Công Ty Cổ Phần Đầu Tư Phát Triển Công Nghệ Robo
                        </span>
                        <span class="footer__ending-text2">
                            © Copyright/ 2000-2020 Công Ty Cổ Phần Đầu Tư Phát Triển Công Nghệ Robo / GPĐKKD số 0301982582 do Sở KHĐT TP.HCM cấp ngày 28.04.2000
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div onclick="scrollToTop()" class="scrollToTopButton" id="scrollToTopButton">
        <i class="fa-solid fa-up-long scrollToTopButton__icon"></i>
    </div>
    <div class="messengerContact">
        <i class="fa-brands fa-facebook-messenger messengerContact__icon"></i>
    </div>
    <div class="emailContact">
        <i class="fa-solid fa-envelope emailContact__icon"></i>
    </div>
    <script src="main.js"></script>
    <div onclick="signUpForm()" class="signUpFormOverLay" id="signUpFormOverLay">
    </div>
    <div class="signUpForm" id="signUpForm">
        <i onclick="signUpForm()" class="fa-solid fa-circle-xmark signUpForm__signUpCancelIcon"></i>
        <h2 class="signUpForm__heading">
            Đăng ký 
        </h2>
        <div class="signUpForm__body">
            <div class="signUpForm__body-userFirstName">
                <span class="userFirstName__inputText">
                    Họ 
                </span>
                <input type="text" class="userFirstName__input">
            </div>
            <div class="signUpForm__body-userLastName">
                <span class="userLastName__inputText">
                    Tên 
                </span>
                <input type="text" class="userLastName__input">
            </div>
            <div class="signUpForm__body-phonenumberAndPassword">
                <input type="text" class="phonenumber__input" placeholder="Nhập số điện thoại">
                <input type="text" class="password__input" placeholder="Nhập mật khẩu">
            </div>
            <div class="signUpForm__body-continue">
                Tiếp tục 
            </div>
        </div>
        <div class="signUpForm__footer">
            <span class="signUpForm__footer-heading">
                Hoặc 
            </span>
            <div class="signUpForm__footer-facebookAndGoogleSignUp">
                <div class="signUpForm__footer-facebookSignUp">
                    <span class="facebookSignUp__text">
                        Facebook
                    </span>
                    <i class="fa-brands fa-square-facebook facebookSignUp__icon"></i>
                </div>
                <div class="signUpForm__footer-googleSignUp">
                    <span class="googleSignUp__text">
                        Google
                    </span>
                    <i class="fa-brands fa-google googleSignUp__icon"></i>
                </div>
            </div>
            <div class="signUpForm__footer-haveAccount">
                <span class="haveAccount__text">
                    Bạn đã có tài khoản?
                </span>
                <span class="haveAccount__logIn">
                    Đăng nhập
                </span>
            </div>
        </div>
    </div>
    <div onclick="logInForm()" class="logInFormOverLay" id="logInFormOverLay">
    </div>
    <div class="logInForm" id="logInForm">
        <i onclick="logInForm()" class="fa-solid fa-circle-xmark logInForm__logInCancelIcon"></i>
        <h2 class="logInForm__heading">
            Đăng nhập 
        </h2>
        <div class="logInForm__body">
            <div class="logInForm__body-phonenumberAndPassword">
                <input type="text" class="phonenumber__input" placeholder="Nhập số điện thoại">
                <input type="text" class="password__input" placeholder="Nhập mật khẩu">
            </div>
            <div class="logInForm__body-continue">
                Tiếp tục 
            </div>
            <span class="logInForm__body-forgotPassword">
                Quên mật khẩu? 
            </span>
        </div>
        <div class="logInForm__footer">
            <span class="logInForm__footer-heading">
                Hoặc 
            </span>
            <div class="logInForm__footer-facebookAndGoogleLogIn">
                <div class="logInForm__footer-facebookLogIn">
                    <span class="facebookLogIn__text">
                        Facebook
                    </span>
                    <i class="fa-brands fa-square-facebook facebookLogIn__icon"></i>
                </div>
                <div class="logInForm__footer-googleLogIn">
                    <span class="googleLogIn__text">
                        Google
                    </span>
                    <i class="fa-brands fa-google googleLogIn__icon"></i>
                </div>
            </div>
            <div class="logInForm__footer-haveAccount">
                <span class="haveAccount__text">
                    Bạn chưa có tài khoản?
                </span>
                <span class="haveAccount__logIn">
                    Đăng ký
                </span>
            </div>
        </div>
    </div>
</body>
</html>
